/ {
    gpio_keymap {
        compatible = "zmk,gpio-keymap";
        status = "okay";
        debounce-period = <15>;  /* 月牙胶垫导电膜，单位ms */

        keys {
            key_w: key_0  { gpios = <&gpio0 17  GPIO_ACTIVE_LOW>; };
            key_a: key_1  { gpios = <&gpio0 20  GPIO_ACTIVE_LOW>; };
            key_s: key_2  { gpios = <&gpio0 22  GPIO_ACTIVE_LOW>; };
            key_d: key_3  { gpios = <&gpio0 24  GPIO_ACTIVE_LOW>; };
            key_spc:key_4 { gpios = <&gpio0 09  GPIO_ACTIVE_LOW>; };
            key_f: key_5  { gpios = <&gpio1 04  GPIO_ACTIVE_LOW>; };
            key_e: key_6  { gpios = <&gpio0 10  GPIO_ACTIVE_LOW>; };
            key_up: key_7 { gpios = <&gpio0 11  GPIO_ACTIVE_LOW>; };
            key_down:key_8{ gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; };
            key_r: key_9  { gpios = <&gpio1 00 GPIO_ACTIVE_LOW>; };
            key_alt:key_10{ gpios = <&gpio1 06 GPIO_ACTIVE_LOW>; };
            key_tab:key_11{ gpios = <&gpio1 13 GPIO_ACTIVE_LOW>; };
        };
    };
};
